*{
   padding: 0; margin: 0;
   box-sizing: border-box;
}
body {
   background-color: #0E0D30;
}
@font-face {
   font-family: 'Vazir';
   src: url('../src/fonts/Vazir.ttf');
}
@font-face {
   font-family: 'Artifakt';
   src: url('../src/fonts/Artifakt.ttf');
}
@font-face {
   font-family: 'Bahnschrift';
   src: url('../src/fonts/bahnschrift.ttf');
}